html{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}
body{
	margin: 0;
	width: 100%;
	height: 100%;
	position: relative;
	background-color: black;
}
div{
	margin: 0;
	padding: 0;
	color: green;
	font-family: "Courier New", "Courier", monospace;
	font-size: 20px;
}
#anim{
	background-color: black;
	position: absolute;
	top: 50%;
	left: 50%;
}
#anim2{
	background-color: white;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}
#console{
	position: relative;
	height: 90%;
	top: 20px;
	width: 100%;
	margin: 0 auto;
	max-width: 1000px;
	border: 2px solid green;
	background-color: black;
}

@media screen and (max-width: 996px){
  #console {
  	margin: 0 -4px;
  }
}
#output{
	position: absolute;
	top: 0;
	left: 30%;
	bottom: 20%;
	right: 0;
	outline: 1px solid green;
	padding: 2.5%;
	overflow-y: auto;
}
#input{
	outline: 1px solid green;
	padding: 0;
	position: absolute;
	top: 80%;
	left: 30%;
	bottom: 0;
	right: 0;
}
	.option{
		width: 20%;
		padding: 0 2.5%;
		height: 100%;
		float: left;
		color: white;
		font-size: 18px;
		position: relative;
		cursor: pointer;
	}
	.option-num{
		padding-top: 7px;
		display: block;
		color: green;
	}
#player{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 70%;
	padding: 10px 20px;
	outline: 1px solid green;
	font-size: 16px;
}
	#player ul{
		margin-left: 0;
		padding-left: 20px;
	}
.clear{
	clear: both;
}
input{
	background-color: black;
	margin: 0;
	padding: 6px;
	border: 1px solid green;
	font-size: 16px;
	font-family: "Courier New", "Courier", monospace;
	color: green;
}
.heavy{
	font-size: 1.2em;
	font-weight: bold;
}
